body {
  text-align: center;
  background-color: #88cfff;
  color: #fff;
  font-size: xx-large;
}

header {
  padding: 20px;
  background-color: #4d9f9f;
}

main {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 500px;
  gap: 10px;
}

#aside {
  height: 100%;
  background: #4fce7b;
}

aside {
  margin-top: 50%;
}

#images {
  display: flex;
  gap: 10px;
}

#images div {
  width: 33%;
  height: 200px;
  background: #f4ea61;
  display: flex;
  justify-content: center;
  align-items: center;
}

#article {
  background: #7c7620;
}

article {
  align-self: end;
  padding: 10px;
  margin-top: 50%;
}
